@model Diarymous.Models.DiaryManager;
<html>
<head>
    <script src="https://www.google.com/recaptcha/api.js"></script>
<script>
    function onSubmit(token) {
        document.getElementById("diary-form").submit();
    }
</script>

</head>
<body>
    @using (Html.BeginForm(FormMethod.Post,new {@id="diary-form" }))
    {

        @Html.AntiForgeryToken()
        <div>
            @Html.LabelFor(x => x.title)
            @Html.TextBoxFor(x => x.title)
        </div>
        <div>
            @Html.LabelFor(x => x.text)
            @Html.TextAreaFor(x => x.text)
        </div>
        <!--Validation-->
        <div>

            @Html.ValidationMessage("Yazı", (string)ViewBag.Message, "text-danger")
        </div>
        @Html.ValidationMessageFor(x => x.title)
        @Html.ValidationMessage("Login", (string)ViewBag.Attention, "text-danger")
       <button class="g-recaptcha" 
        data-sitekey="6LeHneEeAAAAAPRhR6KvuVxRbViuo7nXXUBA9VKD"
        data-callback='onSubmit' 
        data-action='submit'>Submit</button> 
    }
</body>
</html>