@model IEnumerable<Diarymous.Models.Entities.Diary>

@{
    int range = 275;
    Layout = "../_Layout.cshtml";
}
<main>
    <div class="container-fluid">
        <div class="row">
            <div class=" col-lg-8 ml-auto mr-auto">
                <div class="container ml-4 content">

                    <div class="row">
                        <div class="col-lg-8 d-flex justify-content-start">
                            <div class=" ">
                                <div class="search-1">
                                    <i class='bx bx-search-alt'></i> <input type="text"
                                                                            placeholder="UX Designer">
                                </div>
                            </div>
                            <div class="">
                                <div>
                                    <button>Search</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="container data-filter-buttons">
                                <div class="row">
                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle" type="button" id="sort"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fa fa-solid fa-sort"></i>
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="sort">
                                            <button class="dropdown-item" type="button">En Yeniler</button>
                                            <button class="dropdown-item" type="button">En Eskiler</button>
                                            <button class="dropdown-item" type="button">Beğeniye Göre</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-1"></div>
                    </div>
                </div>

                @Html.ActionLink("Günlük Yaz", "AddDiary", "Home", null, new { @class = " text ", @style = "text-decoration:none" })
                <div class="container diaries">
                    <div class="row">
                        @foreach (var item in Model)
                        {
                            <div class="diary">

                                <h3 class="diary-tittle"> @item.title</h3>

                                <h5 class="diary-date">
                                    <i class="fa fa-clock-o" aria-hidden="true"> </i>
                                    @item.publishDate
                                    <span>16:50</span>
                                </h5>
                                <hr class="diary-hr">
                                <p class="diary-description">
                                    @((item.diaryText != null && item.diaryText.Length > range) ? item.diaryText.Substring(0,range) : item.diaryText)
                                    <span class="read-more">
                                        @Html.ActionLink("Devamını Oku...", "Diary", "Home", new { id = item.id }, null)
                                    </span>
                                </p>
                                <div class="d-flex justify-content-between">
                                    <h4 class="diary-user">
                                        <i class="fa fa-user-o" aria-hidden="true"></i> Username
                                    </h4>
                                    <div>
                                        <h4 class="diary-user mr-4">
                                            <i class="fa  fa-solid fa-heart"
                                               aria-hidden="true"></i><span class="ml-1">@item.likeCount</span>
                                        </h4>
                                        <h4 class="diary-share">
                                            <i class="fa fa-share-alt share-icon"
                                               aria-hidden="true"></i><span class="ml-1">Paylaş</span>
                                        </h4>
                                    </div>
                                </div>
                            </div>

                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
